.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.map-container {        
  flex: 2;
  position: relative;
  margin-left: 20px;
}

.instructions-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
  max-height: 500px; /* Limit the height of the container */
}

.instructions-container h2 {
  margin-top: 0;
}

.clicked-info {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.info-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.info-container p {
  margin: 5px 0;
  font-size: 14px;
}

